[BASIC]

variable-rgx=[a-z0-9_]{1,30}$
good-names=ap,ar,ax,d,f,g,gt,h,i,im,lr,p,r,s,t,t1,t2,th,v,vs,w,wh,x,x1,x2,xs,y,ys,xy



[TYPECHECK]

disable=duplicate-code,missing-docstring,invalid-name,redefined-outer-name
